<form #g="ngForm">
  <ion-item>
    <ion-label position="floating">{{ 'AUTH.EMAIL' | translate }}</ion-label>
    <ion-input type="email" ngModel name="email" [required]="true" email></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{ 'AUTH.PASSWORD' | translate }}</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" ngModel name="password" [minlength]="8"></ion-input>
  </ion-item>
  <ion-checkbox labelPlacement="end" style="padding: 8px 16px" [(ngModel)]="showPassword" name="showPassword">
    {{ 'AUTH.SHOW_PASSWORD' | translate }}
  </ion-checkbox>
  <ion-button (click)="loginEmailAndPassword(g)" type="submit" color="primary" expand="block" [disabled]="!g.valid || isAnyInProgress">
    <ion-spinner *ngIf="isEmailPasswordInProgress" slot="start"></ion-spinner>
    {{ (isEmailPasswordInProgress ? 'AUTH.LOGGING_IN' : 'AUTH.LOGIN') | translate }}
  </ion-button>
</form>

<ion-button
  fill="outline"
  color="danger"
  expand="block"
  (click)="loginViaGoogle()"
  [disabled]="isAnyInProgress">
  <ion-icon *ngIf="!isGoogleInProgress" slot="start" name="logo-google"></ion-icon>
  <ion-spinner *ngIf="isGoogleInProgress" slot="start"></ion-spinner>
  {{ (isGoogleInProgress ? 'AUTH.CONNECTING_GOOGLE' : 'AUTH.CONTINUE_WITH_GOOGLE') | translate }}
</ion-button>

<!-- Facebook login disabled -->
<ion-button
  *ngIf="false"
  fill="outline"
  color="primary"
  expand="block"
  (click)="loginViaFacebook()"
  [disabled]="isAnyInProgress">
  <ion-icon *ngIf="!isFacebookInProgress" slot="start" name="logo-facebook"></ion-icon>
  <ion-spinner *ngIf="isFacebookInProgress" slot="start"></ion-spinner>
  {{ isFacebookInProgress ? 'Connecting Facebook...' : 'Continue with Facebook' }}
</ion-button>
