<ng-container *ngIf="itemVal$ | async let itemVal else loading">

  <div style="margin: 5px;">
    <ng-container
      *ngIf="feat.showExperimental"
    >
      {{ 'JOURNAL.SELF_IMPROVEMENT_GAME_PROMPT' | translate }}
      <ion-note>{{ descriptors.length }} {{ 'JOURNAL.FIELDS' | translate }}</ion-note>

    </ng-container>
    <p style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap">
      <app-time-point [time]="$safeNavigationMigration(itemVal?.whenCreated | odmDate)"></app-time-point>
      <app-geo-loc [geoLoc]="$safeNavigationMigration(itemVal?.whereCreated)"></app-geo-loc>
      <app-time-tracked-item-cell
        *ngIf="featureService.timeTrackingEnabled"
        [item$]="item$P"
        [toolBarMode]="true"
      ></app-time-tracked-item-cell>
    </p>
  </div>

  <app-tree-node-cells
    *ngIf="treeNode"
    [treeNode]="treeNode"
    [descriptors]="descriptors"
    [autoExpandDescriptorId]="autoExpandDescriptorId"
  ></app-tree-node-cells>

</ng-container>

<ng-template #loading
>
  {{ 'COMMON.LOADING' | translate }}
  // TODO: also "Please log in"
</ng-template>
