<ng-container *ngIf="itemVal$ | async let itemVal else loading">

  <div style="margin: 5px;">
    <ng-container
      *ngIf="feat.showExperimental"
    >
      {{ 'JOURNAL.SELF_IMPROVEMENT_GAME_PROMPT' | translate }}
      <ion-note>{{ descriptors.length }} {{ 'JOURNAL.FIELDS' | translate }}</ion-note>

    </ng-container>
    <p>
      <app-time-point [time]="$safeNavigationMigration(itemVal?.whenCreated | odmDate)"></app-time-point>
      <app-geo-loc [geoLoc]="$safeNavigationMigration(itemVal?.whereCreated)"></app-geo-loc>
    </p>
    <app-time-tracked-item-cell
      *ngIf="featureService.timeTrackingEnabled"
      [item$]="item$P"
    ></app-time-tracked-item-cell>
  </div>

  <app-tree-node-cells
    *ngIf="treeNode"
    [treeNode]="treeNode"
    [descriptors]="descriptors"
  ></app-tree-node-cells>

</ng-container>

<ng-template #loading
>
  {{ 'COMMON.LOADING' | translate }}
  // TODO: also "Please log in"
</ng-template>
