<app-rich-text-edit
  style="flex-grow: 1"
  [formControl1]="formControl"
  [showToolbar]="true"
  [showMenuBar]="false"
  [enterKeyOnlyWithShift]="true"
  [enableLinkPreview]="true"
  [collection]="'OryItem'"
  [itemId]="treeNode.itemId"
  (enterKeydownIntercepted)="onEnterKeydownIntercepted($event)"
></app-rich-text-edit>
<app-voice-memo-field
  [item$]="treeNode.content.dbItem"
  [collection]="'OryItem'"
  [fieldId]="'title'"
  (transcriptReady)="onTranscriptReady($event)"
></app-voice-memo-field>
