<section id="languages" class="container">
  <!-- FIXME: extract languages component -->
  <app-three-d-text text="Natural Languages"></app-three-d-text>
  <!-- FIXME: 2..4 columns -->
  <!--  <app-flags flags="de at lu pl gb us pt es es-ct fr" />-->
  <!-- FIXME: extract component for flag + label-->
  @if (false) {
    @for (language of languageExperiences; track language.name; let i = $index) {
      <span [ngStyle]="{'font-size': language.details.size}">

        @if (i > 0) {
          <span>, </span>
        }
        <!-- <div class="language"> -->
          <app-flags [flags]="language.details.flags"/>
          <label>{{ language.name }}</label> -
          <span>{{ language.details.level }}</span>
        <!-- </div> -->
      </span>
    }
  }

  <div class="languages-grid">
    @for (language of languageExperiences; track language.name) {
      <div class="language">
        <div class="app-flags">
          <app-flags [flags]="language.details.flags"/>
        </div>
        <label>{{ language.name }}</label>
        <span>{{ language.details.level }}</span>
      </div>
    }
  </div>
</section>
