.language {
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 10px 4px;
  padding: 4px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-radius: 20px 0 20px 0;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1), 5px -5px 15px rgba(255, 255, 255, 0.8);
  }

  & > * {
    flex: none;
  }

  .app-flags {
    display: inline-block;
    width: 128px;
  }

  span {
    word-break: break-word;
    width: calc(100% - 128px - 110px - 1rem);
  }

  label {
    text-transform: uppercase;
    width: 110px; // FIXME CSS Grid
    // font-weight: normal
    color: var(--ion-color-secondary); // mat-color($light-accent,900)
    margin-right: 1rem;
    //&::after {
    //  content: ":"
    //}
  }

}

.languages-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Creates two columns with equal width
  gap: 2px;
}
