<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/journal"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLogin ? 'Log in to LifeSuite' : 'Sign up for LifeSuite' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-col size="10" offset="1">
  <ion-content>
    <app-login-email-password [hidden]="!isLogin"></app-login-email-password>
    <app-signup-email-password [hidden]="isLogin"></app-signup-email-password>

    <ion-button fill="outline" color="primary" expand="block" (click)="onAuthSwitch()">Switch to
      {{ isLogin ? 'Signup' : 'Login' }}
    </ion-button>
  </ion-content>
</ion-col>
