
<div class="container">
  <app-three-d-text text="Organisations and Projects"></app-three-d-text>

  @for (orgKV of keyValOrdered(organisationsAndProjects); track orgKV.key) {
    <section class="organisation">
      <!--<ng-template let-org="orgKV.value">-->

      <h2>
        @if (orgKV.value.logoFileName) {
          <img alt="Organization Logo" width=auto height=50 loading="lazy" decoding="async" src="assets/images/clients/{{orgKV.value.logoFileName}}">
        }
        <span>{{orgKV.key}}</span>
        <span class="years">{{orgKV.value.time[0]}} - {{orgKV.value.time[1]}}</span>
        <app-flags [flags]="orgKV.value.flags"></app-flags>
        @if (orgKV.value.locations; as locations) {
          <span class="comment">{{locations}} </span>
        }
      </h2>
      <app-hashtag-replacer [text]="orgKV.value.description" />
      @if (orgKV.value.linkedInRecommendations) {
        <a href="https://www.linkedin.com/in/karoldepka" target="_blank">
          Please also take a look at {{orgKV.value.linkedInRecommendations}} {{orgKV.value.linkedInRecommendations > 1 ? 'recommendations' : 'recommendation'}} on
          <img alt="LinkedIn Logo" class="linkedin-logo" height="14px" loading="lazy" decoding="async" src="assets/images/logos/linkedin.svg"> <!-- TODO LinkedIn Logo; TODO: underline link -->
        </a>
      }
      @for (projKV of keyValOrdered(orgKV.value.projects); track projKV.key) {
        <app-work-project
          [project]="projKV.value"
          [projectTitle]="projKV.key"
        ></app-work-project>
      }

    <!--</ng-template>-->
    </section>
  }
</div>
