<div
  *ngIf="item?.hasAudio || item?.val?.hasAudio || (item$ && !item)"
  style="display: flex; align-items: center; flex-grow: 1"
>
  <ion-button
    (touchstart)="playOrStopAudio(); $event.stopPropagation(); $event.preventDefault()"
    (click)="playOrStopAudio(); $event.stopPropagation()"
  >
    <ion-icon
      *ngIf="!isPlaying else playing"
      icon="play"
     />
    <ng-template
      #playing
    >
      <ion-icon
        icon="stop"
       />

      <!-- TODO: can use  https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/createAnalyser
        ( but in separate AudioPlayingComponent, to not overload this one )
      -->
    </ng-template>
  </ion-button>

  <div
    *ngIf="isPlaying"
    style="display: flex; align-items: center; gap: 4px; flex-grow: 1; min-width: 160px"
    (touchstart)="$event.stopPropagation()"
    (click)="$event.stopPropagation()"
  >
    <span style="font-size: 0.7rem; min-width: 2.2rem; position: relative; z-index: 1">{{ formatTime(currentTimeSec) }}</span>
    <ion-range
      style="flex-grow: 1"
      [min]="0"
      [max]="durationSec || 1"
      [value]="currentTimeSec"
      (ionChange)="onSeek($event)"
     />
    <span style="font-size: 0.7rem; min-width: 2.2rem; position: relative; z-index: 1">{{ formatTime(durationSec) }}</span>
  </div>
</div>
