<app-node-content-time-tracking
  [treeNode]="treeNode"
  style="/*margin-left: 0.5em;*/ vertical-align: middle; align-self: center"
/>

<p style="margin-top: .5em">
  <label>Aggregate Tracked:&nbsp;</label>
  <app-time-view
    style="display: inline-flex;"
    [timeMs]="subtreeTrackedMs"
  ></app-time-view>
</p>

<!--<button-->
<!--  *ngIf="! isTimeTrackingThis"-->
<!--  class="btn btn-primary"-->
<!--  (click)="startTimeTracking()">-->
<!--  Start TT-->
<!--</button>-->

<!--<button-->
<!--  *ngIf="isTimeTrackingThis"-->
<!--  class="btn btn-primary"-->
<!--  (click)="stopTimeTracking()">-->
<!--  Stop TT-->
<!--</button>-->
