.abcd-answer
  padding: var(--space-2) var(--space-2-5)
  border: 1px solid var(--ion-color-medium-tint)
  border-radius: var(--space-1)

.abcd-answer--incorrect-revealed
  color: var(--ion-color-step-650)
  font-size: 0.7em
