<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-company-logo></app-company-logo>
    </ion-buttons>

    <ion-title></ion-title>
    <ion-buttons slot="end">
      <span routerLink="/chat" class="clickable" style="margin-right: 15px;">AI CHAT</span>
      <span routerLink="/themes" class="clickable" style="margin-right: 15px;">THEMES</span>
      <button
        type="button"
        (click)="showThemeConfig = !showThemeConfig"
        class="clickable theme-customize-button"
        [attr.aria-expanded]="showThemeConfig"
        aria-controls="theme-configurator"
        title="Customize theme"
      >
        <svg aria-hidden="true" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M12 3a9 9 0 1 0 0 18h1.1a1.9 1.9 0 0 0 1.7-2.75 1.88 1.88 0 0 1 1.7-2.7H18a3 3 0 0 0 3-3A9 9 0 0 0 12 3Zm-5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm3-4.5A1.5 1.5 0 1 1 10 10a1.5 1.5 0 0 1 0-3Zm4 0A1.5 1.5 0 1 1 14 10a1.5 1.5 0 0 1 0-3Zm3 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"/></svg>
        <span>CUSTOMIZE THEME</span>
      </button>
    </ion-buttons>
    @if (showThemeConfig) {
      @defer {
        <app-theme-config id="theme-configurator" />
      } @placeholder {
        <div class="theme-config-placeholder" aria-hidden="true"></div>
      }
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">cv</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
  <app-cv-page />
</ion-content>
