<!--<mat-card style="margin-bottom: 10px">-->

<!--  <mat-card-title>Other Profiles (optional, but recommended)</mat-card-title>-->

<!--<mat-card-content>-->

<!--<div [formGroup]="formGroup">-->

<!--  <ng-template [ngIf]="! otherProfiles" >Loading external profiles...</ng-template>-->

@for (descriptor of descriptorsList; track descriptor) {
  @if (hasProfile(descriptor) && getFormControl(descriptor); as value) {
    <app-other-profile-user-name
      [descriptor]="descriptor"
      [parentFormGroup]="formGroup"
      [thisFormControl]="value"
    />
  }
}
<!--</div>-->

<!--</mat-card-content>-->
<!--</mat-card>-->
