<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Life Overviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  TODO: GTD diagram: https://en.wikipedia.org/wiki/Getting_Things_Done#/media/File:GTDcanonical.png

  <app-doodle-overlay>
    <app-ikigai-diagram
      style="width: 300px"
    ></app-ikigai-diagram>
  </app-doodle-overlay>

  <app-doodle-overlay>
    <app-radical-candor
      style="width: 600px"
    ></app-radical-candor>
  </app-doodle-overlay>

  <br>
  <br>

  <app-doodle-overlay>
    <app-energy
      style="margin-top: 30px"
    ></app-energy>
  </app-doodle-overlay>

  <app-doodle-overlay>
    <app-flow-state
    ></app-flow-state>
  </app-doodle-overlay>

  <app-doodle-overlay>
    <app-growth-diagram
    ></app-growth-diagram>
  </app-doodle-overlay>

  <!-- ideas:
  - valley of death / despair
  - journey of a hero
  - hype cycle
  - emotions - mixing of basic emotions
-->


</ion-content>
