<ion-button
  *ngIf="g.feat.beforeProductization"
  [disabled]="itemsService.loadingAllItemsFromServerInitiated"
  (press)="loadAll(true)"
  (click)="loadAll(false)"
><ion-icon slot=start name="download-outline" />{{ 'JOURNAL.LOAD_ALL' | translate }}</ion-button>

<ion-note>{{(itemsService.localItems$ | async)?.length}} {{ 'JOURNAL.ITEMS' | translate }}</ion-note>

<ion-checkbox
  labelPlacement="end"
  [formControl]="formControl"
>{{ 'JOURNAL.SORT_DESCENDING' | translate }}</ion-checkbox>


<!-- filter by mood, productivity, importance, health -->
<ion-range
  *ngIf="g.feat.beforeProductization"
  [formControl]="formControls.range"
  dualKnobs="true" min="-1" max="10" step="0.5" snaps="true"
  pin="true"
/> <!-- -1 for undefined -->

