NOUN_PROJECT_API_KEY=
NOUN_PROJECT_API_SECRET=Setup your api key and secret from noun api
OLLAMA_API_KEY=...\.ollama\id_ed25519.pub (File path that holds the api key for ollama. On windows press the windows + r key to easily find a filepath)
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL_NAME=Take a look at the readme for a list of models to choose from.
