<section class="quiz-options-grid">
  <div class="quiz-option quiz-option--input">
    <div class="quiz-option__label">CATEGORIES</div>
    <ion-input
      class="quiz-option__input"
      [formControl]="controls.categories"
      [clearInput]="true"
      [debounce]="300"
     />
  </div>

  <div class="quiz-option quiz-option--input">
    <div class="quiz-option__label">TEXT FILTER</div>
    <ion-input
      class="quiz-option__input"
      [formControl]="controls.textFilter"
      [clearInput]="true"
      [debounce]="300"
     />
  </div>

  <div class="quiz-option quiz-option--toggles">
    <div class="quiz-toggle-grid">
      <ion-checkbox
        class="quiz-toggle-cell"
        labelPlacement="end"
        [formControl]="controls.dePrioritizeNewMaterial"
      >
        DE-PRIORITIZE NEW MATERIAL
      </ion-checkbox>

      <ion-checkbox
        class="quiz-toggle-cell"
        labelPlacement="end"
        [formControl]="controls.skipTasks"
      >
        SKIP TASKS
      </ion-checkbox>

      <ion-checkbox
        class="quiz-toggle-cell"
        labelPlacement="end"
        [formControl]="controls.onlyWithQA"
      >
        ONLY WITH Q&A
      </ion-checkbox>

      <ion-checkbox
        class="quiz-toggle-cell"
        labelPlacement="end"
        [formControl]="controls.skipAiGenerated"
      >
        SKIP AI-GENERATED
      </ion-checkbox>
    </div>
  </div>
  <!--<ion-button (click)="controls.minFunLevel.setValue('aa')">set fun level</ion-button>-->

  <!--<app-fun-level-edit [formControl1]="controls.minFunLevel"></app-fun-level-edit>-->
  <div class="quiz-option quiz-option--picker quiz-option--fun">
    <div class="quiz-option__label">MIN FUN LEVEL</div>
    <apf-numeric-picker
      [buttonDescriptors]="funButtonsDesc"
      [formControl]="controls.minFunLevel"
    />
  </div>

  <div class="quiz-option quiz-option--picker quiz-option--importance">
    <div class="quiz-option__label">MIN IMPORTANCE</div>
    <apf-numeric-picker
      [buttonDescriptors]="importanceButtonsDesc"
      [formControl]="controls.minImportanceLevel"
    />
  </div>

  <div class="quiz-option quiz-option--table">
    <app-quiz-intervals
    />
  </div>

  <div class="quiz-option quiz-option--slider">
    <app-quiz-diligence-level
      [control]="controls.powBaseX100"
    />
  </div>

  <div class="quiz-option quiz-option--slider">
    <app-quiz-interval-importance-scaling
      [control]="controls.scaleIntervalsByImportance"
    />
  </div>

  <div class="quiz-option quiz-option--slider">
    <app-quiz-focus-level
      [control]="controls.focusLevelProbabilities"
    />
  </div>
</section>
