<form #f="ngForm">
  <div *ngIf="signupError" class="error-message">
    {{ signupError }}
  </div>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" ngModel name="email" [required]="true" email>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" ngModel name="password" [minlength]="8" [required]="true" password></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repeat Password</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" ngModel name="password2" [minlength]="8" [required]="true" password></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox labelPlacement="end" [(ngModel)]="showPassword" name="showPassword">
      Show password
    </ion-checkbox>
  </ion-item>
  <ion-button (click)="signupEmailAndPassword(f)" type="submit" color="primary" expand="block" [disabled]="!f.valid || isSigningUp">
    <ion-spinner *ngIf="isSigningUp" slot="start"></ion-spinner>
    {{ isSigningUp ? 'Signing up...' : 'Sign Up' }}
  </ion-button>
</form>

<!-- Account Linking Modal -->
<div *ngIf="showLinkModal" class="link-modal-overlay">
  <div class="link-modal">
    <h2>Account Already Exists</h2>
    <p>This email is already registered. Would you like to link it to your account?</p>
    
    <div *ngIf="linkingError" class="error-message">
      {{ linkingError }}
    </div>

    <div class="link-options">
      <ion-button 
        color="primary" 
        expand="block"
        (click)="linkWithPassword()"
        [disabled]="isLinkingWithPassword">
        <ion-spinner *ngIf="isLinkingWithPassword" slot="start"></ion-spinner>
        <ion-icon *ngIf="!isLinkingWithPassword" slot="start" name="mail-outline"></ion-icon>
        Link with Email/Password
      </ion-button>

      <ion-button 
        fill="outline" 
        expand="block"
        (click)="linkWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Link with Google
      </ion-button>

      <ion-button 
        fill="outline" 
        expand="block"
        (click)="linkWithFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Link with Facebook
      </ion-button>
    </div>

    <ion-button fill="clear" expand="block" (click)="closeLinkModal()">
      Cancel
    </ion-button>
  </div>
</div>
