<form #f="ngForm">
  <div *ngIf="signupError" class="error-message">
    {{ signupError }}
  </div>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" ngModel name="email" [required]="true" email>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" ngModel name="password" [minlength]="8" [required]="true" password></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repeat Password</ion-label>
    <ion-input [type]="showPassword ? 'text' : 'password'" ngModel name="password2" [minlength]="8" [required]="true" password></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox labelPlacement="end" [(ngModel)]="showPassword" name="showPassword">
      Show password
    </ion-checkbox>
  </ion-item>
  <ion-button (click)="signupEmailAndPassword(f)" type="button" color="primary" expand="block" [disabled]="!f.valid || isSigningUp">
    <ion-spinner *ngIf="isSigningUp" slot="start"></ion-spinner>
    {{ isSigningUp ? 'Signing up...' : 'Sign Up' }}
  </ion-button>

  <ion-button (click)="openDirectLinkModal()" type="button" fill="outline" color="medium" expand="block">
    Link Account
  </ion-button>
</form>

<ion-button
  fill="outline"
  color="danger"
  expand="block"
  (click)="signupViaGoogle()"
  [disabled]="isGoogleInProgress || isFacebookInProgress">
  <ion-icon *ngIf="!isGoogleInProgress" slot="start" name="logo-google"></ion-icon>
  <ion-spinner *ngIf="isGoogleInProgress" slot="start"></ion-spinner>
  {{ isGoogleInProgress ? 'Connecting Google...' : 'Continue with Google' }}
</ion-button>

<ion-button
  fill="outline"
  color="primary"
  expand="block"
  (click)="signupViaFacebook()"
  [disabled]="isGoogleInProgress || isFacebookInProgress">
  <ion-icon *ngIf="!isFacebookInProgress" slot="start" name="logo-facebook"></ion-icon>
  <ion-spinner *ngIf="isFacebookInProgress" slot="start"></ion-spinner>
  {{ isFacebookInProgress ? 'Connecting Facebook...' : 'Continue with Facebook' }}
</ion-button>

<!-- Account Linking Modal -->
<div *ngIf="showLinkModal" class="link-modal-overlay">
  <div class="link-modal">
    <h2>Account Already Exists</h2>
    <p>This email is already registered. Would you like to link it to your account?</p>
    
    <div *ngIf="linkingError" class="error-message">
      {{ linkingError }}
    </div>

    <div class="link-form">
      <div class="form-group">
        <label>Email to link:</label>
        <ion-item>
          <ion-input
            type="email"
            [(ngModel)]="pendingEmail"
            name="pendingEmail"
            placeholder="your-email@example.com">
          </ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <label>New password to add:</label>
        <ion-item>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="pendingNewPassword"
            name="pendingNewPassword"
            placeholder="At least 8 characters">
          </ion-input>
        </ion-item>
      </div>
    </div>

    <ion-button
      color="success"
      expand="block"
      (click)="linkExistingGoogleAccountAndSetPassword()"
      [disabled]="isLinkingWithPassword">
      <ion-spinner *ngIf="isLinkingWithPassword" slot="start"></ion-spinner>
      <ion-icon *ngIf="!isLinkingWithPassword" slot="start" name="logo-google"></ion-icon>
      Link Account (Google + New Password)
    </ion-button>

    <!-- Email/Password linking form (only if they have an existing password) -->
    <div *ngIf="!isLinkingWithPassword && existingAccountPassword === ''" class="link-form">
      <div class="form-group">
        <label>Enter your existing account password (optional):</label>
        <ion-item>
          <ion-input 
            [type]="showExistingPassword ? 'text' : 'password'"
            [(ngModel)]="existingAccountPassword"
            name="existingPassword"
            placeholder="Leave blank to use Google/Facebook">
          </ion-input>
        </ion-item>
        <ion-checkbox labelPlacement="end" [(ngModel)]="showExistingPassword" name="showExistingPwd">
          Show password
        </ion-checkbox>
      </div>

      <ion-button 
        color="primary" 
        expand="block"
        (click)="linkWithPassword()"
        [disabled]="isLinkingWithPassword">
        <ion-spinner *ngIf="isLinkingWithPassword" slot="start"></ion-spinner>
        <ion-icon *ngIf="!isLinkingWithPassword" slot="start" name="mail-outline"></ion-icon>
        Link with Existing Password
      </ion-button>
    </div>

    <div class="link-options">
      <ion-button 
        fill="outline" 
        expand="block"
        (click)="linkWithGoogle()"
        [disabled]="isLinkingWithPassword">
        <ion-spinner *ngIf="isLinkingWithPassword" slot="start"></ion-spinner>
        <ion-icon *ngIf="!isLinkingWithPassword" slot="start" name="logo-google"></ion-icon>
        Link with Google
      </ion-button>

      <ion-button 
        fill="outline" 
        expand="block"
        (click)="linkWithFacebook()"
        [disabled]="isLinkingWithPassword">
        <ion-spinner *ngIf="isLinkingWithPassword" slot="start"></ion-spinner>
        <ion-icon *ngIf="!isLinkingWithPassword" slot="start" name="mail-outline"></ion-icon>
        Link with Facebook
      </ion-button>
    </div>

    <ion-button fill="clear" expand="block" (click)="closeLinkModal()">
      Cancel
    </ion-button>
  </div>
</div>
