<div class="node-class-picker">
  <span
    *ngFor="let nodeClass of classes"
    class="slot-pill node-class-option"
    [ngClass]="{selected: effectiveClass === nodeClass}"
    (click)="pick(nodeClass)"
  >
    <ion-icon [name]="icons[nodeClass]"></ion-icon>
    {{ labels[nodeClass] }}
  </span>

  <span
    *ngIf="hasOverride"
    class="slot-pill node-class-option auto-option"
    title="Clear the manual override - go back to the automatically-derived class"
    (click)="clearOverride()"
  >
    <ion-icon name="refresh"></ion-icon>
    Auto
  </span>
</div>
