
This app helps you get to <b>root causes</b> of problems, and offers solutions.

<p>Describe your <b>problem</b> or <b>wish</b> on the
  <a [routerLink]="'/lifedvisor/ask'">Search Page</a>
  and this app will give You hints.</p>
<p>For example: "I have low motivation", "have more time", "productivity".</p>

<p>Think some of them are too obvious?</p> <!-- TODO: ion card -->
<p>No problem, the goal is also to memorize, <b>internalize</b> them and reflect on them, force awareness of them. Drill them into the brain :). As we tend to forget things.</p>
<p>A form of meditation, contemplation, mantra.</p>

<p>
  Also, please check <a routerLink="/lifedvisor/life-overviews">Life Overviews</a> graphs, to see the big picture, where You are in certain areas of life, and where You would like to be.
</p>

<!--<img width=100px src="assets/Lifedvisor_into_brain.svg">-->

<p>You can also treat it as a <b>check-list</b>, to avoid forgetting even the obvious hints.</p>
<p>It also serves to hold us accountable to really follow the rules that we know of and agree with.</p>

<!--<p>Other keywords: affirmations, self-indoctrination, policies, habits</p>-->


<!--<p>-->
<!--  <img width=100px src="assets/dumbbell-solid.svg">-->

<!--  Becomes stronger with practice, like a muscle.-->
<!--</p>-->
<!--<br/>-->

<!-- TODO have a set of juicy images rotating here (like I need to change my posters), to keep it interesting for the limbic system
  To avoid it being a set of cheesy happy-people motivational standard stuff, can be various pictures of brain, etc.
-->

<!--<p>Please note that the images below are just placeholders/inspirations/prototypes and will be re-made be me.</p>-->
<img width=300px src="/assets/images/mindfulness/forest--photo-1542202229-7d93c33f5d07.jpeg" alt="Forest">
<img width=300px src="/assets/images/mindfulness/jocelyne-yvonne-MCpBIwisljo-unsplash.jpg" alt="Nature landscape">
<img width=300px src="/assets/icon/LifeSuite.png" alt="LifeSuite">
<img width=300px src="/assets/icon/lifesuite-logo-anim.svg" alt="LifeSuite logo">
<img width=300px src="/assets/icon/time-track-start.svg" alt="Time track illustration">
<img width=300px src="/assets/images/mindfulness/forest--photo-1542202229-7d93c33f5d07.jpeg" alt="Forest">
<img width=300px src="/assets/images/mindfulness/jocelyne-yvonne-MCpBIwisljo-unsplash.jpg" alt="Nature landscape">
<img width=300px src="/assets/icon/LifeSuite.png" alt="LifeSuite">

<br>
