@for (category of topicCategoriesArray; track category.name) {
  @if (hasExperienceInCategory(category)) {
    <section style="page-break-inside: avoid">
      <p>{{categoryTitle(category.name)}}</p>
      <!--  <hr>-->
  <!--    <mat-chip-list>-->
      <span>
  <!--      {{category.topicsArray | json}}-->
        @for (topic of category.topicsArray; track topic.name) {
  <!--        TOPIC_: {{topic.id}}-->
  <!--        experience[topic.id]: {{experienceByName[topic.name]}}-->
          @if (experienceByName[topic.name]; as experienceItem) {
            <app-topic-skill
                            [tId]="experienceItem.topicId"
                            [skillLevels]="experienceItem?.skillLevels"
                            [showLogo]="showIcons"
            ></app-topic-skill><!--    [skillLevels]="exp.skillLevels"-->
          }
        }
      </span>
  <!--    </mat-chip-list>-->

    </section>
  }
}

<!--byCategory-->
<!--<pre>{{byCategory | json}}</pre>-->
