<div
  style="display: flex; flex-direction: column; justify-content: center;
    margin: auto;
  max-width: 2561px;

  "
>
  <!-- KEEP IN MIND THIS IS ALSO FOR POSTER PRINT, so centering -->
  <!--FIXME  aspect-->
<!--    margin: 100px;
      aspect-ratio: 1.414/ 1  ;

-->
  <img
    src="assets/images/InnoTopic-Logo_Alan-darker-for-bright-shirt.svg"
    height="240" style="margin-bottom: 130px;"
  />

  <div class="topics" style="gap: 50px; margin-bottom: 110px;">
    @for (topic of highlights.main.ids; track topic) {
      <app-topic-logo [size]="160" [topic]="topic" />
    }
  </div>

  <div class="topics" style="gap: 15px; margin-bottom: 110px;">
    @for (topic of highlights.secondaryHighlights.ids; track topic) {
      <app-topic-logo [size]="95" [topic]="topic" />
    }
  </div>

  <div class="topics" style="gap: 30px;">
    @for (topic of highlights.utility.ids; track topic) {
      <app-topic-logo [size]="70" [topic]="topic" />
    }
  </div>

  <div class="topics" style="margin-top: 35px;">
    @for (topic of highlights.broad.ids; track topic) {
      <app-topic-logo [size]="70" [topic]="topic" />
    }
  </div>

  <div class="topics" style="margin-top: 35px;">
    @for (topic of highlights.personalInterests.ids; track topic) {
      <app-topic-logo [size]="100" [topic]="topic" />
    }
  </div>

<!--  <div class="topics">-->
<!--    <app-topic-logo [size]="50" *ngFor="let topic of highlights.personalInterests.ids" [topic]="topic"></app-topic-logo>-->
<!--  </div>-->

<!--  <div class="topics">-->
<!--    <app-topic-logo [size]="50" *ngFor="let topic of highlights.producingContent.ids" [topic]="topic"></app-topic-logo>-->
<!--  </div>-->

</div>
