<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>merchGen</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<!-- - -->
<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">merchGen</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
=  <div #rendererContainer class="renderer-container"></div>


<!--  &lt;!&ndash;  <app-merch-gen />&ndash;&gt;-->
<!--</ion-content>-->
